<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gct.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.gct.pojo.entity.system.SysRole">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="roleCode" column="role_code" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_name,role_code,
        description,create_time,update_time,
        is_deleted
    </sql>
    <select id="selectRoleIdByUserId" resultType="java.lang.Integer">
        SELECT sr.id from sys_role sr INNER JOIN sys_user_role  sur  on sur.role_id=sr.id WHERE sur.user_id = #{id}
    </select>

</mapper>
